.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &_item {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 69px;
        height: 69px;
        background: whitesmoke;
        border-radius: 5px;
    }
}