.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    height: 91px;

    .logoNav {
        margin-left: 2rem;
    }

    &_list{
        display: flex;
        justify-content:space-between;
        gap: 219px;
    }

    &_item {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;

        a {
            color: whitesmoke;
        }
    }
}