.home {
    display: flex;
    max-width: 1440px;
    flex-wrap: wrap;
    gap: 50px;

    .profil {
        font-size: 48px;
        font-weight: 500;
        width: 100dvh;

        h1 {
            margin: 0px 0px 2rem 0px;
        }

        span {
            color: red;
        }

        p {
            font-size: 28px;
            font-weight:300;
        }
    }

    &_seeGlobal {
        display: flex;
        max-width: 835px ;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 28px;
    }

    &_widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 39px;
        color: black;
        font-size: 24px;
        font-weight: 600;

        h2 {
            font-size: 16px;
            color: gray;
            font-weight: 400;
            padding-top: 10px;
        }
    }
}
