.logo {
    display: flex;
    flex-direction: column;
    
    border: solid blueviolet 1px;
    height: 91px;


    &_item {
        height: 50px;
        width: 50px;
        background: whitesmoke;
    }
}